.container{
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    ul{
        width: calc(100% / 5 - 30px);
        margin: 15px;
    }
    li{
        list-style: none;
    }
}